@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style: normal;
}


.type {
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #fff;
  display: inline-block;
  animation: typing 6s steps(var(--steps)) infinite, blink 0.7s infinite;
  --steps: 30; 
}
@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}
@media (max-width: 640px) {
  .type {
    --steps: 22;          
    animation-duration: 7s;
    max-width: 85%;       
  }
}
@media (min-width: 641px) and (max-width: 1023px) {
  .type {
    --steps: 28; 
    animation-duration: 6.5s;
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  .type {
    --steps: 34;         
    animation-duration: 7s; 
    max-width: 100%;
  }
}
@keyframes blink {
  50% { border-color: transparent; }
}


a.active {
  color: #0984e3;
}
a.pending {
  color: blue;
}
a.transitioning {
  view-transition-name: my-transition;
}
